In [1]:
import pandas_datareader as pdr

In [2]:
import datetime

In [10]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2018, 1, 1)
start_date_str = str(start.date())
end_date_str = str(end.date())

In [13]:
stocks = ['MMM', 'AXP', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DIS', 'XOM', 'GE',
          'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE',
          'PG', 'TRV', 'UTX', 'UNH', 'VZ', 'WMT', 'GOOGL', 'AMZN', 'AABA']

In [12]:
for ticker in stocks:
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pdr.DataReader(ticker, 'google', start, end)
    print(data.shape)
    data.to_csv(file_name)

data/MMM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/AXP_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/AAPL_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/BA_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/CAT_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/CVX_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/CSCO_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/KO_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/DIS_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/XOM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/GE_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/GS_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/HD_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/IBM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/INTC_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/JNJ_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/JPM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/MCD_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/MRK_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/MSFT_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/NKE_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/PFE_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/PG_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/TRV_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/UTX_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/UNH_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/VZ_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/V_2006-01-01_to_2018-01-01.csv
(2465, 5)
data/WMT_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/GOOGL_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/AMZN_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/AABA_2006-01-01_to_2018-01-01.csv
(3019, 5)

In [14]:
import pandas as pd

In [15]:
for (i, ticker) in enumerate(stocks):
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pd.read_csv(file_name, parse_dates=['Date'], index_col=['Date'])
    print(data.shape)
    data['Name'] = ticker
    data.to_csv(file_name)
    
    if i == 0:
        all_stocks = data
    else:
        all_stocks = all_stocks.append(data)
        
print(all_stocks.shape)
all_stocks_file_name = 'data/all_stocks_' + start_date_str + '_to_' + end_date_str + '.csv'
all_stocks.to_csv(all_stocks_file_name)

data/MMM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/AXP_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/AAPL_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/BA_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/CAT_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/CVX_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/CSCO_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/KO_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/DIS_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/XOM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/GE_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/GS_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/HD_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/IBM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/INTC_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/JNJ_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/JPM_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/MCD_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/MRK_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/MSFT_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/NKE_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/PFE_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/PG_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/TRV_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/UTX_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/UNH_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/VZ_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/WMT_2006-01-01_to_2018-01-01.csv
(3020, 5)
data/GOOGL_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/AMZN_2006-01-01_to_2018-01-01.csv
(3019, 5)
data/AABA_2006-01-01_to_2018-01-01.csv
(3019, 5)
(93612, 6)

In [16]:
print(all_stocks.shape)

(93612, 6)

In [17]:
all_stocks = pd.read_csv(all_stocks_file_name, parse_dates=['Date'], index_col=['Date'])

In [18]:
all_stocks_2017 = all_stocks.loc['2017']

In [19]:
all_stocks_2017

              Open    High     Low   Close    Volume  Name
Date
2017-01-03  178.83  180.00  177.22  178.05   2510055   MMM
2017-01-04  178.03  178.90  177.61  178.32   1541985   MMM
2017-01-05  178.26  179.14  176.89  177.71   1447848   MMM
2017-01-06  177.29  178.60  175.80  178.23   1625049   MMM
2017-01-09  178.37  178.38  177.20  177.27   1622625   MMM
2017-01-10  177.36  177.49  176.31  176.58   2030149   MMM
2017-01-11  176.63  178.45  176.39  177.89   1579593   MMM
2017-01-12  176.97  177.70  175.75  177.44   1321766   MMM
2017-01-13  177.58  177.91  176.83  177.39   1265593   MMM
2017-01-17  177.00  177.68  176.25  177.26   1557453   MMM
2017-01-18  177.90  179.44  177.38  178.49   1804904   MMM
2017-01-19  179.25  179.80  177.76  178.68   1464364   MMM
2017-01-20  179.20  179.46  177.83  178.49   1761850   MMM
2017-01-23  177.91  178.99  177.13  178.51   1986788   MMM
2017-01-24  177.50  177.76  174.42  175.97   3473183   MMM
2017-01-25  177.09  178.63  176.57  176.73   3462633   MMM
2017-01-26  176.31  177.23  176.04  176.82   2235889   MMM
2017-01-27  177.48  177.98  176.83  177.48   1623666   MMM
2017-01-30  177.25  177.73  174.87  175.42   1823128   MMM
2017-01-31  174.74  175.46  173.81  174.82   1845543   MMM
2017-02-01  175.17  175.80  174.30  175.17   2272854   MMM
2017-02-02  174.13  174.78  173.55  174.18   3106798   MMM
2017-02-03  174.02  175.30  173.85  175.04   2820960   MMM
2017-02-06  174.12  176.20  173.90  175.10   1622756   MMM
2017-02-07  176.08  176.40  175.15  175.76   1247389   MMM
2017-02-08  175.62  177.60  175.49  177.07   2145683   MMM
2017-02-09  176.87  178.55  176.87  178.18   2009742   MMM
2017-02-10  178.30  179.58  178.19  179.00   1392438   MMM
2017-02-13  179.86  181.38  179.26  181.02   1929821   MMM
2017-02-14  180.86  182.00  180.65  181.60   2036188   MMM
...            ...     ...     ...     ...       ...   ...
2017-11-16   69.80   71.22   69.80   70.75   7510504  AABA
2017-11-17   70.81   71.37   70.74   71.02  14298554  AABA
2017-11-20   71.60   72.53   71.43   71.95  14666339  AABA
2017-11-21   72.66   73.14   72.31   72.85   9514310  AABA
2017-11-22   73.02   73.25   72.46   72.60   6721660  AABA
2017-11-24   72.47   73.18   72.31   72.93   3356343  AABA
2017-11-27   72.82   73.12   71.92   72.07   7630057  AABA
2017-11-28   72.25   72.48   71.49   71.98  11936842  AABA
2017-11-29   71.61   71.70   68.51   70.36  15976247  AABA
2017-11-30   70.31   70.84   69.37   70.06  19215640  AABA
2017-12-01   69.80   71.25   69.47   70.10  19712943  AABA
2017-12-04   71.06   71.34   68.16   68.31  15533597  AABA
2017-12-05   67.10   69.38   66.62   68.13  11963099  AABA
2017-12-06   67.78   69.62   67.36   69.41  11646582  AABA
2017-12-07   69.75   70.64   69.48   70.22   7084564  AABA
2017-12-08   71.00   71.63   70.82   71.25   7021125  AABA
2017-12-11   71.70   72.09   71.15   71.53   7359312  AABA
2017-12-12   71.07   71.15   69.55   69.77  11296188  AABA
2017-12-13   69.80   71.76   69.69   71.24  17321301  AABA
2017-12-14   70.60   70.62   68.84   69.23  17077065  AABA
2017-12-15   69.35   70.54   68.66   70.29  19517623  AABA
2017-12-18   70.54   70.74   69.95   70.14   6776982  AABA
2017-12-19   69.70   70.36   69.38   70.21  14654994  AABA
2017-12-20   70.60   71.05   70.17   70.90  12888149  AABA
2017-12-21   71.00   72.17   70.88   71.59   9682733  AABA
2017-12-22   71.42   71.87   71.22   71.58  10979165  AABA
2017-12-26   70.94   71.39   69.63   69.86   8542802  AABA
2017-12-27   69.77   70.49   69.69   70.06   6345124  AABA
2017-12-28   70.12   70.32   69.51   69.82   7556877  AABA
2017-12-29   69.79   70.13   69.43   69.85   6613070  AABA

[7781 rows x 6 columns]

In [20]:
all_stocks_2017_file_name = 'data/all_stocks_2017-01-01_to_2018-01-01.csv'

In [21]:
all_stocks_2017.to_csv(all_stocks_2017_file_name)